<div class="tech-btm">
    <p>Bloglarımızdan mail ile haberdar olun</p>
    <form action="/Newsletter/SubscribeMail" method="post">
        <input type="email" placeholder="Mail Adresi" required="" name="Mail">
        <input type="submit" value="Abone Ol">
    </form>

</div>